#creating a product dictionary whose keys are product_id,product_name,product_price

In [2]:
d1={'pro_id':[1,2,3,4,5],'pro_name':['book','pen','pencil'],'pro_price':[10,20,5]}
d1

{'pro_id': [1, 2, 3, 4, 5],
 'pro_name': ['book', 'pen', 'pencil'],
 'pro_price': [10, 20, 5]}

#Display only the keys,only the values,and only the items

In [3]:
d1.keys()

dict_keys(['pro_id', 'pro_name', 'pro_price'])

In [4]:
d1.values()

dict_values([[1, 2, 3, 4, 5], ['book', 'pen', 'pencil'], [10, 20, 5]])

In [5]:
d1.items()

dict_items([('pro_id', [1, 2, 3, 4, 5]), ('pro_name', ['book', 'pen', 'pencil']), ('pro_price', [10, 20, 5])])

#In the product dictionary display only product names and only the prices

In [8]:
d1.get('pro_name')

['book', 'pen', 'pencil']

In [9]:
d1.get('pro_price')

[10, 20, 5]

#clear all items in product dictionary

In [10]:
d1.clear()

In [11]:
d1

{}

#create 2 dictionaries 1.Region1_sales={pro_name,month} 2.Region2_sales={pro_name,month} and concate them

In [29]:
d2={'pro_name':['car'],'month':['jan','feb','mar']}
d2

{'pro_name': ['car'], 'month': ['jan', 'feb', 'mar']}

In [30]:
d3={'pro_name1':['car'],'month1':['apr','may','jun']}
d3

{'pro_name1': ['car'], 'month1': ['apr', 'may', 'jun']}

In [31]:
d2.update(d3)

In [32]:
d2

{'pro_name': ['car'],
 'month': ['jan', 'feb', 'mar'],
 'pro_name1': ['car'],
 'month1': ['apr', 'may', 'jun']}

# strings

In [34]:
"123".isdigit()

True

In [35]:
"abc".isalpha()

True

In [37]:
"123".isalpha()

False

In [38]:
"123abc".isalnum()

True

In [39]:
"aa".islower()

True

In [40]:
"AA".isupper()

True

In [41]:
"Aa".istitle()

True

In [42]:
text="welcome to Python"
text.isspace()

False

In [48]:
mystr="this is String"

In [49]:
mystr.count('i')

3

In [50]:
len(mystr)

14

In [51]:
mystr.title()

'This Is String'

In [52]:
mystr.capitalize()

'This is string'

In [53]:
mystr.upper()

'THIS IS STRING'

In [55]:
mystr.lower()

'this is string'

In [57]:
mystr.center(30)

'        this is String        '

In [58]:
mystr.ljust(40)

'this is String                          '

In [59]:
mystr.rjust(40)

'                          this is String'

In [63]:
mystr.find(' ')

4

In [66]:
mystr.index('is')

2

In [67]:
mystr.split()

['this', 'is', 'String']

# variance

#sem-1

In [71]:
from numpy import array
from numpy import var
v=array([6.6,7.8,9.0,9.3,6.9])
print(v)
result=var(v,ddof=1)
print(result)

[6.6 7.8 9.  9.3 6.9]
1.4670000000000005

#sem-2

In [75]:
from numpy import array
from numpy import var
v1=array([7.8,8.7,6.8,7.5,9.0])
print(v1)
result1=var(v1,ddof=1)
print(result1)

[7.8 8.7 6.8 7.5 9. ]
0.8029999999999999

#sem-3

In [77]:
from numpy import array
from numpy import var
v2=array([8.9,9.5,6.9,7.9,8.0])
print(v2)
result2=var(v2,ddof=1)
print(result2)

[8.9 9.5 6.9 7.9 8. ]
0.9979999999999999

CONCLUSION: The student performance is good in the second semester as it has low variance.

# Sets

In [78]:
a=set([1,2,3,4,5])
a

{1, 2, 3, 4, 5}

In [79]:
b=([3,4,5,6])
a.union(b)

{1, 2, 3, 4, 5, 6}

In [80]:
a.intersection(b)

{3, 4, 5}

In [81]:
a.issuperset(b)

False

In [83]:
c=a.intersection(b)
c

{3, 4, 5}

In [84]:
c.issubset(a)

True

In [85]:
a.issuperset(b)

False

In [86]:
a=frozenset([1,2,3,4])
a

frozenset({1, 2, 3, 4})

In [87]:
d=frozenset([4,5,6])
d

frozenset({4, 5, 6})

In [88]:
c=set([1,2,3])
c.add(frozenset(d))
c

{1, 2, 3, frozenset({4, 5, 6})}